body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

label {
  display: inline;
}

.display {
  margin-bottom: 10px;
}

.download {
  margin-top: 10px;
}
