html, body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
  display: block;
}

header {
  background: #2BA6CB;  
  padding: 5px 0;
}

section.form {
  background: #ECF8FF;
  padding: 15px 0;
}

section.preview {
  padding-bottom: 20px;  
}

footer {
  padding: 15px;
  overflow: hidden;
  display: block;
  background: #3F3F3F;  
  color: #fff;
  width: 100%;
}

h1 {
  margin-bottom: 0;
  color: #fff;
}

span.subheader {
  display: block;
  font-size: 24px;
  color: #fff;
}

a {
  color: #00B7FF;
}

label {
  display: inline;
}

.display {
  margin-bottom: 10px;
}

.download {
  margin-top: 10px;
}

#types {
  padding-top: 14px;
}

#types label {
  padding: 0 10px;
  font-size: 18px;
}
